header {
    margin-bottom: 16px;
}

#modal_bienvenida, #modal_carrito {
    position: absolute;
    width: 100%;
    height: 35px;
    display: none;
    background-color: azure;
    color: black;
}

#productos {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
}